/* style.css */

.myhero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 70vw;
  height: 100vh;
  object-fit: fill;
}
