@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --body-color: #F4F4F4;
  --second-color: #F15025;
  --third-color: #272525;
  --fourth-color: #1F8316;
 
}
body{
background-color: var(--body-color);
}

.bg{
background-color: var(--body-color);
}
.input-border {

 border: 2px solid #cccccc;
  padding: 8px;
  outline: none;
 
}
.input-border:focus {
  border-color: #e3980c; 
}

.hover-color:hover {
 background-color: #e3980c;
 border-radius: 50%;

}
.starter{
background-color: var(--second-color);
filter: drop-shadow(4px 4px 1px rgba(31, 131, 22, 0.90));    
color: var(--body-color);

}


.icons:hover {
 background-color: var(--second-color) ;
 transition: ease-in-out;
 transform: all;
} 