@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --body-color: #F4F4F4;
  --second-color: #F15025;
  --third-color: #272525;
  --fourth-color: #1F8316;
 
}
body{
background-color: var(--body-color);
font-family: "Readex Pro", sans-serif;
color: var(--third-color);
cursor: default;
}


.bg{
background-color: var(--body-color);
}
.mybg{
  background-color: var(--second-color);

}
.input-border {

 border: 2px solid #cccccc;
  padding: 8px;
  outline: none;
 
}
.navbg{
 background-color: var(--body-color);
}
.input-border:focus {
  border-color: #e3980c; 
}

.hover-color:hover {
 background-color: #e3980c;
 border-radius: 50%;

}
.starter{
background-color: var(--second-color);
filter: drop-shadow(4px 4px 1px rgba(31, 131, 22, 0.90));    
color: var(--body-color);

}


.icons:hover {
 background-color: var(--second-color) ;
 transition: ease-in-out;
 transform: all;
} 
.text-shadow {
  color: var(--second-color);
  
}
.button-1  {
 background-color: var(--second-color);
 filter: drop-shadow(1px 1px 2px rgba(31, 131, 22, 0.90));    
 color: var(--body-color);
}
.test-background {
  background-color: var(--third-color);
}
.card-item {
  padding: 10px;
  box-shadow: 4px 4px 4px 1px #1F8316;
  position: relative;
  z-index: 10;
  top: 40px;
  
  background-color: var(--body-color);

}
.card-item-2 {
  padding: 10px;
  box-shadow: 4px 4px 4px 1px #1F8316;
  background-color: var(--body-color);


}
.title-color {
  color: var(--body-color);
  

}
.small-box {
  background-color: rgba(241, 81, 37, 0.146);
  width: 60px;
  height: 50px;
  padding: 2px;
  border-radius: 5px;
  transition: 0.5s ease; /* Combine transitions for better control */
  

}
.small-box:hover {
  background-color: rgba(241, 81, 37, 0.37);

}
.mytest {
  background-color: var(--second-color);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 1px var(--third-color);
  transition: 0.5s ease;
}
.mytest:hover {
  background-color:#272525;
  border-radius: 5px;
  color: var(--body-color);
}
.mytest:hover div div  h2 {
  color: #ff6347;
  transition: 0.5s ease;

}
.accordion {

}

.accordion li{
 list-style: none;
 margin: 5px;
 padding: 5px;
 background-color: white;

}
.accordion li label {
 display: flex;
 align-items: center;
 justify-content: start;
 cursor: pointer;
}
.accordion li label::before {
  content : "+";
  font-weight: 700;
  font-size: x-large;
  padding: 4px;
  
}
input[type="radio"] {
  display: none;
}
.accordion .content {
   color: var(--third-color);
   padding: 5px;
   max-height: 0 ;
   overflow: hidden;
   transition: max-height 0.5s, padding 0.5s;
  
}

.accordion input[type="radio"]:checked + label + .content {
   max-height: 400px;
  
}

.accordion input[type="radio"]:checked + label::before {
  content: "x";
  color: #ff6347;
}